<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut tempore quisquam explicabo. Officia minus nobis tempore ex laborum, quia iure aliquam veniam quis saepe excepturi molestiae dolorum et veritatis ullam repudiandae, repellendus nostrum dolore voluptas quod illo maxime, modi vitae.</p>

<a href="https://persian-blue-kitten-wear.cyclic.app/">home</a>

<%- include("footer") -%>
